html, body {
  max-width: auto;

    margin: 0;
    padding: 0;
    height: 800px;
    background: black;
    
}

body {
    max-width: auto;
    max-height: auto;
    background-image: url(/img/back_full_photo_contact_.png);
    background-size: cover;
    background-repeat: no-repeat;
}
a:link, a:visited {
	text-decoration: none
	}

a:active {
	text-decoration: none
	}


header {
    display: grid;
    grid-area: h;
    width: 365px;
    margin: 0;
    
}

.container{
    max-width: auto;
    max-height: auto;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    background-repeat: no-repeat;
    grid-template-areas: "h n";
}

nav {
    width: 843px;
    display: grid;
    height: 100px;
    background: transparent;
    grid-area: n;

}
.menu {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}


.menu a {
  color: white;
    text-decoration: none;
}


.menu-nav ul {
    margin: 0;
  display: flex;
  flex-wrap: wrap;
    justify-content: space-around;
    justify-content: flex-start;
}
.menu-nav a {
    margin: 0;
  font-size: 1.70em;
    padding: 0px 40px 1px 40px;
    justify-content: space-around;
    vertical-align: top;    
    margin-bottom: 350px;

}


.menu-nav a:hover {
  color: saddlebrown;

}

.frase p{
  margin: 0;
    max-width: AUTO;
    display: block;
    font-family: 'Niconne', cursive;
    text-align: center;
    font-size: 36px;
    line-height: 44px; 
    color: white;
    text-decoration: inherit;
    justify-content: center;

    }
/*slide imagens*/


/*Abertura de página (Fade in open webpage)*/

.fadeIn {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}



/*----------------------CARROSSEL (Carousel)-------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin: auto;
  margin-left: 550px;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}