html {
    margin: 0;
    padding: 0;
    height: 800px;/*800 ou então deixar auto*/
    background:black;
    opacity: 0.9;
}


body {
    margin: 0;
    padding: 0;
    max-width: auto;
    
}

a:link, a:visited {
	text-decoration: none;
	}

a:active {
	text-decoration: none;
	}


.container{

    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    position: relative;
    background-repeat: no-repeat;
    grid-template-areas: "h n"
                        "a f";

}

.lesquerdo {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    
}

/*_______________________Parte esquerda/SUP do site____________________*/

header {

    grid-area: h;

  
}
.casanova {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.casanova a{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.fundocasanova {
    background-image: url(/img/back_text_chef_casanova.png);
    height: 400px;
    background-repeat: no-repeat;
;}


.fundofigueira{
    background-image: url(/img/back_text_chef_figueira.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: top;
    
}
/*_______________________Parte direita do site_____________________*/


nav {
    background-image: url(/img/back_right_home_about.png);
    max-width: auto;
    max-height: auto;
    background-repeat: no-repeat;
    display: grid;
    height: 800px;
    background-size: cover;

    grid-area: n;
}
.menu {
    max-width: auto;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  padding-top: 10px;
    
}



.menu a {
  color: white;
    text-decoration: none;
}
.menu-nav{
    height: 50px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
    justify-content: space-around;
    justify-content: flex-start;
    height: 20px;
}
.menu-nav a {
  font-size: 1.70em;
    display: flex;
    margin: 0px 40px 1px 40px;
    justify-content: space-around;
    justify-content: flex-start;
    height: 30px;

}


.menu-nav a:hover {
  color: saddlebrown;

}
.textabout{
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 36px;
    color: #000000;

    /* serviços_canto */
    text-shadow: 0px 4px 4px purple;
}


/*_______________________Parte esquerda/INF do site____________________*/
aside {
    display: grid;
    grid-area: a;

}

aside a {
    text-decoration: none;
    
}


aside ul {
    margin-top: 50px;
    margin-left: 60px;
    padding: 10px;

    /* serviços_canto */
    font-family: Abril Fatface;
    font-style: normal;
    font-size: 40px;
    color: white;
    
}
aside a:link, a:visited {
	text-decoration: none;
    color: white;
}
aside a:hover {
	text-decoration: underline; 
	color: #ff00ff;
	}


/*Abertura de página*/

.fadeIn {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
/*_______________________Parte direitra/INF do site____________________*/
/*
    width: 720px;
    display: flex;
    justify-content: flex-end;


    /* serviços_canto 
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #000000;

    /* serviços_canto 
    text-shadow: 0px 4px 4px purple;
}*/
